.DS_Store
*.pyc
__pycache__
repo/fromage_main/
repo/benchmark/
.ipynb_checkpoints/
repo/fromage_inf/fromage_model/cc3m_embeddings.pkl
repo/fromage_inf/__pycache__
repo/fromage_inf/.ipynb_checkpoints/

